ul {
  list-style:none;
  margin: 0;
}

.header {
  background-color: #9ABBB5;
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 0px;
}

.header ul a {
  color: black;
  text-decoration: none;
  padding: 10px 10px;
  display: inline-block;
}

.header ul li {
  position: relative;
  float: right;
}

.header ul li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}    

.header ul ul {
  display: none;
  position: absolute;
  top: 100%;
}

.header ul ul li {
  float: right;
  text-align: right;
  width: 100%;
}

.header ul li:hover > ul {
  display: block;
  background-color: #9ABBB5;
}

.img {
  max-width: 25px;
  padding-right: 20px;
  margin-top: 5px;
}

.informacion {
  width: 100%;
}

.informacion th {
  font-size: 18px;
  text-align: left;
}

.informacion td {
  font-size: 12px;
  text-align: right;
}

.btn {
  border-top: 1px solid white;
  background-color: rgba(154, 187, 181, 0.2);
  width: 100%;
  height: 50px;
}

.btn2 {
  border-top: 1px solid white;
  background-color: rgba(154, 187, 181, 0.2);
  width: 40%;
  padding: 5px;
  margin: 5px;
}

.btn:hover {
  background-color: rgba(154, 187, 181, 0.6) !important; 
  cursor: pointer;
}

.btn2:hover {
  background-color: rgba(154, 187, 181, 0.6) !important; 
  cursor: pointer;
}

#sec0 {
  width: 20%;
  height: 100%;
  float: left;
  padding: 60px 0px 0px 15px;
  border-right: 1px solid rgba(154, 187, 181, 0.2);
}

#sec0 input {
  width: 100%;
}

#sec0 img {
  width: 100%;
}

#sec1 {
  width: 25%;
  height: 100%;
  float: left;
  padding: 60px 0px 0px 15px;
  box-shadow: 5px 0px 25px grey;
}

#sec2 {
  width: 70%;
  float: left;
  padding: 60px 0px 0px 15px;
}

#sec2 #from {
  width: 100%;
  padding: 60px 0px 0px 15px;
  border-bottom: 1px solid rgba(154, 187, 181, 0.2);
}
#sec2 #mensaje {
  width: 100%;
  padding: 15px 0px 0px 15px;
}

#nuevo {
  width: 98%;
  padding: 60px 15px;
}

#nuevo table {
  width: 100%;
  border: 1px solid black;
}

#nuevo table th {
  border: 1px solid black;
}

#nuevo table td {
  border: 1px solid black;
}

#submit {
  margin: 20px;
}

.btn_noborder, #mensaje {
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  resize: none;
}

#cambiar {
  width: 98%;
  padding: 60px 15px;
}